<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996815279600-fptds9tghdnfafeju2kbbn82th96ho51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996815279600-fptds9tghdnfafeju2kbbn82th96ho51</string>
	<key>API_KEY</key>
	<string>AIzaSyDSkU8kQcZMtFluhkLz-s6WW86SBi8zwT4</string>
	<key>GCM_SENDER_ID</key>
	<string>996815279600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.richupillai.ddme</string>
	<key>PROJECT_ID</key>
	<string>ddme-database</string>
	<key>STORAGE_BUCKET</key>
	<string>ddme-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996815279600:ios:cb4c270bc7b30ededb3935</string>
</dict>
</plist>